h1{
    background-color: orange;
    margin:0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color:white;
}
#carSelect{
     padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#submitBtn{
     padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}
#message{
    text-align: center;
}
#carImage{
    
}